
<link rel="stylesheet" href="/style.css">
<form method="POST"  action="/submit">
<div class="box">
<h1>USER LOGIN</h1>

<input type="email" name="email"  class="email" placeholder="enter your email"/>
  
<input type="user" name="user"   class="email"  placeholder="enter user name"/>
  

<button type="submit">submit </button>

</div> 
  
</form>

